

<div class="mt-6 flex justify-center">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Number of Users</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      10
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Number of Products</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      10
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Number of Orders</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      10
    </ion-card-content>
  </ion-card>
</div>
